main{
    display: flex;

    /* Utilizando um flex-wrap:wrap; vai fazer com que as imagens ocupem o espaço disponivel */

    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
    
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}